<div id="<%= dom_id need %>">
  <p>
    <strong>Name:</strong>
    <%= need.name %>
  </p>

  <p>
    <strong>Long description:</strong>
    <%= need.long_description %>
  </p>

  <p>
    <strong>Begin date:</strong>
    <%= need.begin_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= need.end_date %>
  </p>

</div>
