<div id="<%= dom_id need %>">
  <p>
    <strong>Type of need:</strong>&nbsp;
    <%= Type.find_by(id: need.type_id).name %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= need.name %>
  </p>

  <p>
    <strong>Long description:</strong>
    <%= need.long_description %>
  </p>

  <p>
    <strong>Need valid from:</strong>
    <%= need.begin_date.strftime("%F %H:%M") %>
    &nbsp;
    <strong>to:</strong>
    <%= need.end_date.strftime("%F %H:%M") %>
  </p>

</div>
