<%= form_with(model: resource) do |form| %>
  <% if resource.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
        <% resource.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="modal modal-sheet position-static d-block bg-body-secondary p-6 py-md-5">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-6 pb-6 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2">Edit Resource</h1>
      </div>
      <div class="modal-body p-4 pt-0">
        <div class="row mb-3">
          <label for="resource_type_id" class="form-label">Resource Type:</label>
            <%= form.select :type_id, options_from_collection_for_select(
            Type.all.where(supertype_id: 
              Supertype.all.where(name: "Resource")), :id, :name, resource.type_id) %>
        </div>
        <div class="row mb-3">
          <label for="resource_name" class="form-label">Name:</label>
          <%= form.text_field :name %>
        </div>
        <div class="row mb-3">
          <%= form.submit %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
